{% extends "base.html" %}
{% load static %}
{% block content %}
  <section id="services" class="services section light-background">
      <div class="section-pre-header"></div>
      {% include "includes/breadcrumbs.html" %}
      <!-- Section Title -->
      <div class="container section-title aos-init aos-animate" data-aos="fade-up">
        <h2 class="mt-5">
          <span>
            {{ redactor.first_name }} {{ redactor.last_name }} {% if user == redactor %}(Me){% endif %}
          </span>
          <span class="px-5 about container-form-link position-absolute">
            <a href="{%url 'newspaper:redactor-update' pk=redactor.pk %}"
               class="btn btn-outline-info btn-sm"
            >Update Experience</a>
            <a href="{%url 'newspaper:redactor-delete' pk=redactor.pk %}"
               class="btn btn-outline-danger btn-sm"
            >Delete</a>
          </span>
        </h2>
        <p>
          Experience: <strong>{{ redactor.years_of_experience }}</strong> year{{redactor.years_of_experience|pluralize:"s"}} |
          Published: <strong>{{ newspapers|length }}</strong> newspaper{{newspapers|length|pluralize:"s"}}</p>
      </div><!-- End Section Title -->

      <div class="container">
        <h2 class="mt-3">Publications:</h2>
        <div class="row gy-4">
          <div class="col-12">
            {% if newspapers %}
            <table class="table">
              <tr class="thead-color">
                <th class="p-3" >Release Date</th>
                <th class="p-3">Topic</th>
                <th class="p-3 text-center">Title</th>
                <th class="p-3 text-center">Modify</th>
              </tr>
              {% for newspaper in newspapers %}
              <tr>
                <td class="px-3 py-2">{{ newspaper.published_date }}</td>
                <td class="px-3 py-2">{{ newspaper.topic }}</td>
                <td class="px-3 py-2">
                  <a class="link-hover" href="{% url 'newspaper:newspaper-detail'  pk=newspaper.pk %}">
                  {{ newspaper.title }}
                  </a>
                </td>
                <td></td>
              </tr>
              {% endfor %}
            </table>
            {% else %}
            <p>I don't have any publications yet.</p>
            {% endif %}
          </div>
        </div>
      </div>
      {% block pagination %}
        {% include "includes/pagination.html" %}
      {% endblock %}
    </section>
{% endblock %}

