{% extends "base.html" %}
{% load static %}
{% block content %}
  <section id="services" class="services section light-background">
      <div class="section-pre-header"></div>
      {% include "includes/breadcrumbs.html" %}
      <!-- Section Title -->
      <div class="container section-title aos-init aos-animate" data-aos="fade-up">
        <h2 class="mt-2">Redactors</h2>
        <p>List of our editors. True professionals, excellent colleagues.</p>
      </div><!-- End Section Title -->

      <div class="container">
        <div class="row gy-4">
          <div class="col-12">
            {% if redactor_list %}
            <table class="table">
              <tr class="thead-color">
                <th class="p-3" >Username</th>
                <th class="p-3">First name</th>
                <th class="p-3">Last name</th>
                <th class="p-3 text-center">years_of_experience</th>
              </tr>
              {% for redactor in redactor_list %}
              <tr>
                <td class="px-3 py-2">{{ redactor.username }}</td>
                <td class="px-3 py-2">{{ redactor.first_name }}</td>
                <td class="px-3 py-2">{{ redactor.last_name }}</td>
                <td class="px-3 py-2 text-center">{{ redactor.years_of_experience }}</td>
              </tr>
              {% endfor %}
            </table>
            {% else %}
            <p>There are no redactors in the agency.</p>
            {% endif %}
          </div>
        </div>
      </div>
      {% block pagination %}
        {% include "includes/pagination.html" %}
      {% endblock %}
    </section>
{% endblock %}